{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-success">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<div style="display:flex;">

        <div style="width: 50%;">
            <h3 style="color: rgb(202, 54, 8);">Vaka Ekle</h3>
        {% if vaka != [None] %}
            <ul class="list-group">
        {% for v in vaka %}
        <a href="{{ url_for('main.ekle_vaka2',ekle=v['tckn'])}}">
            <li class="list-group-item list-group-item-primary">
               TCKN :  {{  v['tckn']  }}
               AD : {{  v['ad'] }}
                SOYAD:  {{  v['soyad'] }}
            </li>
        </a>
        {% endfor %}

            </ul>
        {% endif %}
        </div>




    
</div>
{% endblock %}