{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Vaka Bilgileri</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
        {% endif %}
        {% endwith %}
        <form action="/medicinelists" method="POST">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="tckn" placeholder="TC Kimlik Numarası" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="vakaisim" placeholder="İsim" required>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="vakasoyisim" placeholder="Soyisim" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="vakailacı" placeholder="İlaç Adı" required>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Vakaya Yeni İlaç Ekle</button>
        </form>
    </div>
</div>
{% endblock %}