
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
{% block content %}
<table>
    <thead>
        <tr>
            <th>Hastane Adı</th>
            <th>Doktor Sayısı</th>
            <th>Hasta Sayısı</th>
            <th>Ölüm Sayısı</th>
        </tr>
    </thead>    
    <tbody>
    {% for row in data %}    
            <tr>
                <td>{{row.isim}}</td>
                <td>{{row.doktorsayisi}}</td>
                 <td>{{row.hastasayisi}}</td>
                  <td>{{row.olumsayisi}}</td>
                <td><form action="{{ url_for('tables.show3') }}" method="POST">
                    <input id="plaka" name="plaka" type="hidden" value="{{row.hastaneno}}">
                    <button type="submit"> Detay </button>
                </form></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}