<head>
    <link href="static/css/table.css" rel="stylesheet">
    
</head>
{% extends "base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Hastane Adı</th>
            <th>Doktor Sayısı</th>
            <th>Hasta Sayısı</th>
            <th>Ölüm Sayısı</th>
            <th></th>
        </tr>
    </thead>    
    <tbody>
    {% for row in data %}    
            <tr>
                <td>{{row.isim}}</td>
                <td>{{row.doktorsayisi}}</td>
                <td>{{row.hastasayisi}}</td>
                <td>{{row.olumsayisi}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}